<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Send</title>
</head>

<body>
    <form action="/email" method="post">
        {% csrf_token %}
        <div>
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject">
        </div>
        <div>
            <label for="message">Message</label>
            <input type="text" name="message" id="message">
        </div>
        <div>
            <input type="submit" value="Send">
        </div>
    </form>
</body>

</html>